/* =============================================================================
COLORS
============================================================================= */

// Page Background
$bg-color: #44475a;
// Contact Box Background
$color-1: #282a36;
// CTA Text and Active Title Background
$color-2: #6272a4;
// CTA Button Background
$color-3: #86E2D5;

$white: #f8f8f2;
$black: #282a36;

//GPG
$gpg: #ff79c6;

// Social media

$icloud: #A3AAAE; // iCloud's color
$s-email: #0091FF; // Criptext's color
$headmaster: #ff5555;
$work: #bd93f9;
$google: #4285f4;
$keybase: #4c8eff;
$github: #6e5494;
$gitlab: #fc6d26;
$rubygems: #e9573f;
$bitbucket: #205081;
$medium: #00ab6c;
$dribbble: #ea4c89;
$behance: #1769ff;
$telegram: #0088CC;
$linkedin: #0077B5;
$angellist: #000;
$facebook: #3b5998;
$twitter: #1da1f2;
